@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700italic);
*, *:before, *:after {
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
q {
  margin-left: auto;
  margin-right: auto;
  width:90%;
  font-size:3rem;
  font-weight:700;
  font-style:italic;
  letter-spacing:-1.5rem;
  opacity:0;
  transform:translateX(-50%) translateY(-50%);
}
q:nth-child(1) {
  animation:expand-1 10s infinite;
}
q:nth-child(2) {
  animation:expand-2 10s infinite;
}
@keyframes expand-1 {
  0%, 60%, 100% {
    letter-spacing:-1.5rem;
    opacity:0;
  }
  10%, 50% {
    letter-spacing:0;
    opacity:1;
  }
}
@keyframes expand-2 {
  0%, 60%, 100% {
    letter-spacing:0;
    opacity:1;
  }
  10%, 50% {
    letter-spacing:-1.5rem;
    opacity:0;
  }
}
